# TELEGRAM_BOT_TOKEN=在这里填写你的Bot Token
TELEGRAM_BOT_TOKEN=
# .env.development
NODE_ENV=development
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_USERNAME=root
# DB_PASSWORD=j
# DB_NAME=trading-bot

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=trading-bot
DATABASE_URL="postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"


JWT_SECRET=Jerry_SECRET
JWT_EXPIRES_IN=3600s

RAYDIUM_FEE_ACCOUNT=your-Publickey
RPC_URL=your-Rpc
RSA_PASSPHRASE=RSA_PASSPHRASE

